@model HealthCareApp.Models.Appointment

<h2 class="text-success">
    Book Appointment
</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(
        true,
        "",
        new
        {
            @class = "text-danger"
        })

    <div class="mb-2">

        <label>Patient</label>

        @Html.DropDownListFor(
            m => m.PatientId,
            (SelectList)ViewBag.Patients,
            "-- Select Patient --",
            new
            {
                @class = "form-control"
            })

        @Html.ValidationMessageFor(
            m => m.PatientId,
            "",
            new
            {
                @class = "text-danger"
            })

    </div>

    <div class="mb-2">

        <label>Doctor</label>

        @Html.DropDownListFor(
            m => m.DoctorId,
            (SelectList)ViewBag.Doctors,
            "-- Select Doctor --",
            new
            {
                @class = "form-control"
            })

        @Html.ValidationMessageFor(
            m => m.DoctorId,
            "",
            new
            {
                @class = "text-danger"
            })

    </div>

    <div class="mb-2">

        @Html.LabelFor(
            m => m.ScheduledDate)

        @Html.TextBoxFor(
            m => m.ScheduledDate,
            "{0:yyyy-MM-dd}",
            new
            {
                type = "date",
                @class = "form-control"
            })

        @Html.ValidationMessageFor(
            m => m.ScheduledDate,
            "",
            new
            {
                @class = "text-danger"
            })

    </div>

    <div class="mb-2">

        @Html.LabelFor(
            m => m.TimeSlot)

        @Html.TextBoxFor(
            m => m.TimeSlot,
            new
            {
                @class = "form-control",
                placeholder = "Example: 10:00 AM"
            })

        @Html.ValidationMessageFor(
            m => m.TimeSlot,
            "",
            new
            {
                @class = "text-danger"
            })

    </div>

    <button type="submit"
            class="btn btn-primary">
        Book Appointment
    </button>

    @Html.ActionLink(
        "Cancel",
        "Index",
        null,
        new
        {
            @class =
            "btn btn-secondary ms-2"
        })
}