@model IEnumerable<HealthCareApp.Models.HealthRecord>

@{
    ViewBag.Title = "Patient History";
}

<h2>
    Visit History - @ViewBag.PatientName
</h2>

<hr />

@if (!Model.Any())
{
    <div class="alert alert-info">
        No history records found.
    </div>
}
else
{
    <table class="table table-bordered table-striped">

        <tr>
            <th>Visit Date</th>
            <th>Doctor</th>
            <th>Diagnosis</th>
            <th>Prescription</th>
            <th>Notes</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.VisitDate.ToString("dd-MMM-yyyy")
                </td>

                <td>
                    @*@item.DoctorId*@
                    @(item.Doctor != null
        ? item.Doctor.FullName
        : "N/A")
                </td>

                <td>
                    @item.Diagnosis
                </td>

                <td>
                    @item.Prescription
                </td>

                <td>
                    @item.Notes
                </td>

            </tr>
        }

    </table>
}

<p>
    @Html.ActionLink(
        "Back to Patients",
        "Index")
</p>