@model HealthCareApp.Models.HealthRecord

@{
    ViewBag.Title = "Edit Health Record";
}

<h2>Edit Health Record</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(
        m => m.RecordId)

    @Html.HiddenFor(
        m => m.VisitDate)

    <div class="form-group">

        @Html.LabelFor(
            m => m.Diagnosis)

        @Html.TextBoxFor(
            m => m.Diagnosis,
            new
            {
                @class =
                "form-control"
            })

    </div>

    <div class="form-group">

        @Html.LabelFor(
            m => m.Prescription)

        @Html.TextAreaFor(
            m => m.Prescription,
            new
            {
                @class =
                "form-control",
                rows = 3
            })

    </div>

    <div class="form-group">

        @Html.LabelFor(
            m => m.Notes)

        @Html.TextAreaFor(
            m => m.Notes,
            new
            {
                @class =
                "form-control",
                rows = 3
            })

    </div>

    <br />

    <input type="submit"
           value="Update"
           class="btn btn-warning" />

    @Html.ActionLink(
        "Back",
        "Index",
        null,
        new
        {
            @class =
            "btn btn-secondary"
        })
}