@model IEnumerable<HealthCareApp.Models.HealthRecord>

@{
    ViewBag.Title = "Health Records";
}

<h2>Health Records</h2>

<p>
    @Html.ActionLink(
        "Create New Record",
        "Create",
        null,
        new
        {
            @class =
            "btn btn-success"
        })
</p>

<table class="table table-bordered">

    <tr>
        <th>Record Id</th>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Diagnosis</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.RecordId
            </td>

            <td>
                    @(item.Patient != null
            ? item.Patient.FullName
            : "N/A")
            </td>

            <td>
                @(item.Doctor != null
        ? item.Doctor.FullName
        : "N/A")
            </td>

            <td>
                @item.Diagnosis
            </td>

            <td>

                @Html.ActionLink(
                    "Edit",
                    "Edit",
                    new
                    {
                        id =
                        item.RecordId
                    })

                |

                @Html.ActionLink(
                    "Delete",
                    "Delete",
                    new
                    {
                        id =
                        item.RecordId
                    })

            </td>

        </tr>
    }

</table>