@model EmpWebApp.Models.Employee
    
@{
    ViewBag.Title = "Create";
}

<h2 class="text-success">Add Employee</h2>
<div class=col-4>
@using (Html.BeginForm())
{
    <div class="mb-2">
        @Html.LabelFor(m => m.Id, new { @class = "fw-bold" })
        @Html.TextBoxFor(m=>m.Id,new {@class="form-control border-dark"})
        @Html.ValidationMessageFor(m => m.Id,"",new { @class="text-danger"})

    </div>
    <div class="mb-2">
        @Html.LabelFor(m => m.Name, new { @class = "fw-bold" })
        @Html.TextBoxFor(m=>m.Name,new {@class="form-control border-dark"})
        @Html.ValidationMessageFor(m => m.Name,"",new { @class="text-danger"})

    </div>
    <div class="mb-2">
        @Html.LabelFor(m=>m.Gender,new{@class="fw-bold"})
        <div class="form-check-inline">
            @Html.RadioButtonFor(m=>m.Gender,"Male",new{@class="form-check-input"})
            <label class="form-check-label">Male</label>
        </div>
          <div class="form-check-inline">
            @Html.RadioButtonFor(m=>m.Gender,"Female",new{@class="form-check-input"})
            <label class="form-check-label">Female</label>
        </div>
    </div>
    <div class="mb-2">
        @Html.LabelFor(m => m.Age, new { @class = "fw-bold" })
        @Html.TextBoxFor(m=>m.Age,new {@class="form-control border-dark"})
        @Html.ValidationMessageFor(m => m.Age,"",new { @class="text-danger"})

    </div>
    <div class="mb-2">
        @Html.LabelFor(m => m.Salary, new { @class = "fw-bold" })
        @Html.TextBoxFor(m=>m.Salary,new {@class="form-control border-dark  "})
        @Html.ValidationMessageFor(m => m.Salary,"",new { @class="text-danger"})

    </div>
    <div class="d-flex">
        <button class="btn btn-primary me-2 w-50">Add Employee</button>
        @Html.ActionLink("Cancel","Index",null,new {@class="btn btn-secondary w-50"})
    </div>
    
    
}
</div>

