@model EmpWebApp.Models.Employee
@{
    ViewBag.Title = "Delete";
}

<h2 class="text-danger">Do you wish to delete the employee??</h2>
<div class="col-4">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Employee Id</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>@Model.Age</td>
            </tr>
            <tr>
                <td>Salary</td>
                <td>@Model.Salary</td>
            </tr>

        </tbody>
    </table>
    <div class="d-flex">
        @using (Html.BeginForm("Delete", "Employee", new {id=Model.Id},FormMethod.Post))
        {
            <button class="btn btn-danger me-2">Delete</button>
        }
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>

