@model List<EmpWebApp.Models.Employee>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-primary">Employee Details</h2>
@Html.ActionLink("Add New", "Create", null, new {@class="btn btn-primary"})
<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Salary</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.Name</td>
                <td>@emp.Gender</td>
                <td>@emp.Age</td>
                <td>@emp.Salary</td>
                <td class="d-flex">
                    @Html.ActionLink("Edit", "Edit", new { id = emp.Id }, new {@class="btn btn-outline-primary me-2 w-50"})
                    @Html.ActionLink("Delete", "Delete", new { id = emp.Id }, new {@class="btn btn-outline-danger w-50"})

                </td>
                
            </tr>
        }
    </tbody>
</table>


